:global(html, body) {
    height: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

:global(input, textarea) {
    -webkit-user-select: text;
}

:global(*) {
    box-sizing: border-box;
}
